.ty{
    text-align: center;
    font-style: italic;
    text-decoration: underline;
    border: 2px solid black;
}
.yu{
    border: 2px solid black;
    margin: 200px;
}
.yu{
    background: 
    border: ;

}
.tp{
    background: red;
}