body{
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    padding: 4px;
    margin: 4px;
    min-height: 100vh;
    background-image: url(../images/WhatsApp\ Image\ 2026-04-13\ at\ 12.51.52.jpeg);
}
.head1{
    font-size: 33px;
    font-weight: bolder;
    list-style-type: none;
     color: gray;
     padding: 20px;
}
.head2{
    font-size: 40px;
    font-weight: bolder;
    list-style-type: none;
    color: black;
   
}
.st{
    font-size: 25px;
    /* padding: 10px; */
    margin-left: 26px;
    margin-bottom: 10px;
}


.page{
    background: rgb(238, 244, 238);
    color: black;
    padding: 30px;
    width: 800px;
}
.line{
    border: 1px solid;
    width: 50%;
}
.top-section{
    display: flex;
    gap: 30px;
}
.left{
    width: 60%;
}
.right{
    width: 40%;
}
.line2{
    border: 1px solid;
    padding: 8px;
    background: black;
    width: 95%;
    margin-top: 50px;
}
.page2{
    position: relative;
    justify-content: center;
    align-items: center;
}
.contain-section{
    display: flex;
    gap: 30px;
}
.contain-left{
    width: 60%;
}
.contain-right{
    width: 40%;
    color: rgb(211, 211, 93);
}
.image{
    width: 100%;
    position: relative;
    background-image: url(../images/computer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}
.footer{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    
}